//
   Created by Lionel on 26/11/2015.
h1
    | Interoperability platform
div.platform
    div(class='platformInfo')
        | Context&nbsp;
        a(href="#{platform['@context']}") #{platform['@context']}
        br
        | Id&nbsp;
        a(href="#{platform['@id']}") #{platform['@id']}
    each objects in platform
        include ./objectsSimple.jade