doctype html
html
  head
    title Semantic Web of Things prototype
  body
    h1 Semantic Web of Things prototype
    p
      | This is an attempt to use Hydra service descriptions to deduce available composed functionalities in the Web of Things.
    ul
      li
        a(href="/objects") Objects
      li
        a(href="/ontology") Ontology
      li
        a(href="/code-repository") Code repository
      li
        a(href="/functionalities-public/index.html") Functionalities
      li
        a(href="/interoperability-public/index.html") Interoperability layer
