doctype html
html
  head
    title Semantic Web of Things prototype
    link(href='/css/fonts/google-fonts.css', rel='stylesheet', type='text/css')
    link(href="/css/stylesheets/interoperability.css", rel="stylesheet", type="text/css")
  body
    h1 Semantic Web of Things prototype
    p
      | This is an attempt to use Hydra service descriptions to deduce available composed functionalities in the Web of Things.
    ul
      li
        a(href="/interoperability") Interoperability layer
      li
        a(href="/ontology") Ontology
      li
        a(href="/code-repository") Code repository
      li
        a(href="/functionalities-public/index.html") Functionalities
