/* line 17, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 46, ../sass/public.scss */
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/public.scss */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 60, ../sass/public.scss */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: sans-serif;
  background: #efefef;
  color: #333333;
  height: 100%;
  font-family: "Muli", sans-serif;
  font-weight: normal;
  position: relative;
}

/* line 72, ../sass/public.scss */
.clearer {
  clear: both;
}

/* line 75, ../sass/public.scss */
p {
  padding: 0px;
  margin: 0px;
}

/* line 79, ../sass/public.scss */
a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  outline: 0;
}

/* line 89, ../sass/public.scss */
strong {
  font-weight: bold;
}

/* line 92, ../sass/public.scss */
em {
  font-style: italic;
}

/* line 95, ../sass/public.scss */
input::-moz-focus-inner {
  border: 0;
}

/* line 99, ../sass/public.scss */
.header {
  background: #465262;
  padding: 20px 0px;
}
/* line 102, ../sass/public.scss */
.header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #999999;
}

/* line 110, ../sass/public.scss */
.contentWrapper {
  padding: 10px 0px;
  max-width: 1000px;
  margin: auto;
}

/* line 116, ../sass/public.scss */
.object {
  width: 25%;
  float: left;
}
/* line 119, ../sass/public.scss */
.object .objectIns {
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  background: white;
}
/* line 125, ../sass/public.scss */
.object .objectName {
  font-weight: bold;
  color: #0367b2;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 130, ../sass/public.scss */
.object .objectId a {
  display: block;
  font-size: 0.7em;
  font-weight: normal;
  color: #cccccc;
  padding-bottom: 5px;
}
/* line 136, ../sass/public.scss */
.object .objectId a:hover {
  text-decoration: underline;
}
/* line 140, ../sass/public.scss */
.object .objectDescription {
  font-size: 0.8em;
}
/* line 143, ../sass/public.scss */
.object .objectValues {
  padding-top: 10px;
  color: #24b375;
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.8em;
  line-height: 1.3em;
}
