/* line 17, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 48, ../sass/public.scss */
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 53, ../sass/public.scss */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 62, ../sass/public.scss */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: sans-serif;
  background: #efefef;
  color: #333333;
  height: 100%;
  font-family: "Muli", sans-serif;
  font-weight: normal;
  position: relative;
}

/* line 74, ../sass/public.scss */
.clearer {
  clear: both;
}

/* line 77, ../sass/public.scss */
p {
  padding: 0px;
  margin: 0px;
}

/* line 81, ../sass/public.scss */
a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  outline: 0;
}

/* line 91, ../sass/public.scss */
strong {
  font-weight: bold;
}

/* line 94, ../sass/public.scss */
em {
  font-style: italic;
}

/* line 97, ../sass/public.scss */
input::-moz-focus-inner {
  border: 0;
}

/* line 101, ../sass/public.scss */
.header {
  background: #465262;
  padding: 20px 0px;
}
/* line 104, ../sass/public.scss */
.header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
}

/* line 112, ../sass/public.scss */
.contentWrapper {
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}
/* line 116, ../sass/public.scss */
.contentWrapper .contentLeft {
  width: 18%;
  float: left;
}
/* line 120, ../sass/public.scss */
.contentWrapper .contentRight {
  width: 80%;
  float: right;
}

/* line 126, ../sass/public.scss */
.objectName {
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 0.7em;
  line-height: 1.2em;
  background: #dcbd15;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* line 140, ../sass/public.scss */
.objectName:hover {
  background: #333333;
}
/* line 143, ../sass/public.scss */
.objectName.objectActivate {
  background: #999999;
}
/* line 146, ../sass/public.scss */
.objectName.objectActivateDelete {
  background: #dcbd15;
}

/* line 151, ../sass/public.scss */
.functionalitiesWrapper {
  font-family: "Source Code Pro", sans-serif;
}
/* line 153, ../sass/public.scss */
.functionalitiesWrapper .functionalitiesLeft {
  margin-bottom: 10px;
}

/* line 161, ../sass/public.scss */
.avatarsList .avatar {
  padding: 20px;
  background: #677485;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* line 168, ../sass/public.scss */
.avatarsList h2 {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 0.9em;
  color: #8bbcb9;
}
/* line 174, ../sass/public.scss */
.avatarsList .avatarName {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}
/* line 181, ../sass/public.scss */
.avatarsList .avatarDescription {
  padding-bottom: 5px;
  font-size: 0.8em;
  font-style: italic;
}
/* line 186, ../sass/public.scss */
.avatarsList .avatarId {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.8em;
  color: white;
  cursor: pointer;
}
/* line 191, ../sass/public.scss */
.avatarsList .avatarId:hover {
  text-decoration: underline;
}
/* line 195, ../sass/public.scss */
.avatarsList a {
  color: #8bbcb9;
  font-weight: normal;
}
/* line 198, ../sass/public.scss */
.avatarsList a:hover {
  text-decoration: underline;
}
/* line 202, ../sass/public.scss */
.avatarsList .exposedFunctionalitiesSection {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px dotted #465262;
}

/* line 208, ../sass/public.scss */
.functionality {
  font-size: 0.7em;
  font-family: "Source Code Pro", sans-serif;
  padding: 3px 0px;
  padding-left: 30px;
}
/* line 213, ../sass/public.scss */
.functionality.functionalityLocal {
  color: #fffbad;
}
/* line 216, ../sass/public.scss */
.functionality.functionalityOther {
  color: #cccccc;
}
/* line 219, ../sass/public.scss */
.functionality.functionalityFound {
  color: #b2ffd8;
}
/* line 223, ../sass/public.scss */
.functionality .functionalityDocumentation,
.functionality .functionalityExecute {
  cursor: pointer;
  width: 6%;
  margin-left: 2%;
  float: left;
  display: block;
  padding: 3px 0px;
  background: #465262;
  color: #8bbcb9;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 234, ../sass/public.scss */
.functionality .functionalityDocumentation:hover,
.functionality .functionalityExecute:hover {
  background: #3a6e81;
}
/* line 238, ../sass/public.scss */
.functionality .functionalityAction {
  width: 82%;
  float: right;
  padding: 3px 0px;
}

/* line 245, ../sass/public.scss */
.responseInfo {
  padding: 20px;
  background: white;
  color: #677485;
  font-size: 0.9em;
  line-height: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 254, ../sass/public.scss */
.footer {
  padding: 50px 0px;
  text-align: center;
  color: #999999;
  font-size: 0.8em;
}

/* line 263, ../sass/public.scss */
.modalWindow,
.modalWindowBig {
  width: 900px;
  padding: 20px;
  background: #efefef;
}
/* line 267, ../sass/public.scss */
.modalWindow .modalTitle,
.modalWindowBig .modalTitle {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* line 275, ../sass/public.scss */
.modalWindow .modalClose,
.modalWindowBig .modalClose {
  width: 30px;
  height: 30px;
  background: url(../../img/icoClose.png) no-repeat center center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* line 284, ../sass/public.scss */
.modalWindow .messageTitle,
.modalWindowBig .messageTitle {
  text-align: center;
  color: #24b375;
  padding-bottom: 20px;
  font-weight: bold;
}
/* line 290, ../sass/public.scss */
.modalWindow .messageTitleError,
.modalWindowBig .messageTitleError {
  color: #ed001b;
}
/* line 293, ../sass/public.scss */
.modalWindow .messageCode,
.modalWindowBig .messageCode {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.8em;
  padding: 0.3em 0;
}
/* line 298, ../sass/public.scss */
.modalWindow .messageCodeTitle,
.modalWindowBig .messageCodeTitle {
  color: #0367b2;
}
/* line 301, ../sass/public.scss */
.modalWindow input.formSubmit,
.modalWindowBig input.formSubmit {
  display: block;
  width: 200px;
  padding: 5px 10px;
  margin: auto;
  background: #24b375;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  border: 0px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* line 315, ../sass/public.scss */
.modalWindow input.formSubmit:hover,
.modalWindowBig input.formSubmit:hover {
  background: #0367b2;
}

/* line 320, ../sass/public.scss */
.modalWindowBig {
  width: 1000px;
}

/* line 324, ../sass/public.scss */
.code {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.8em;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 334, ../sass/public.scss */
.messageCodeArgumentsTitle {
  font-weight: bold;
  padding: 10px 0px;
  text-align: center;
  color: #24b375;
}

/* line 340, ../sass/public.scss */
.codeOption {
  width: 400px;
  float: left;
  padding: 10px;
  font-size: 0.9em;
  background: #efefef;
  border: 1px solid #999999;
  margin: 10px 5px;
  margin-top: 0px;
}
/* line 349, ../sass/public.scss */
.codeOption label {
  font-weight: bold;
}
/* line 352, ../sass/public.scss */
.codeOption .messageCodeChoiceDescription {
  font-size: 0.9em;
  color: #333333;
  font-style: italic;
  padding-top: 5px;
}
/* line 357, ../sass/public.scss */
.codeOption .messageCodeChoiceDescription label {
  padding-right: 10px;
}
/* line 361, ../sass/public.scss */
.codeOption .codeOptionArgument {
  padding: 10px 20px;
}

/* line 365, ../sass/public.scss */
.argument {
  padding: 5px 0px;
}
/* line 367, ../sass/public.scss */
.argument label {
  display: block;
  padding-bottom: 3px;
  font-size: 0.8em;
  color: #333333;
}
/* line 372, ../sass/public.scss */
.argument label strong {
  display: block;
  font-size: 1.1em;
  padding-bottom: 2px;
}
